pyrogram
TgCrypto
aiohttp
aiofiles
python-arq
qrcode
pybase64
removebg
telegraph
motor
pymongo
google_trans_new
wget
tswift
sqlalchemy
dnspython
search_engine_parser
psycopg2-binary
requests
asyncio
py-tgcalls-wrapper
py-tgcalls
youtube-dl
heroku3
textblob